body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #1c1c1c;

}

#part1 {
    text-align: center;
    background-image: radial-gradient(#efefef 5%, #b2b2b2);
    height: 70vh;
    background-repeat: no-repeat;
    padding-top: 30vh;
}

#navbar {
    background-color: #303030;
    height: 60px;
}

#title p {
    font-weight: 100;
}