<mat-card class="card">
  <div class = "card-image microwave" ></div>
  <mat-card-header [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
    <mat-card-title>Microwave</mat-card-title>
    <mat-card-subtitle>2017</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-button color="primary">NOT AVAILABLE</button> -->
  </mat-card-actions>
</mat-card>
<mat-card class="card">
  <div class = "card-image nightfall"></div>
  <mat-card-header [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
    <mat-card-title>Nightfall</mat-card-title>
    <mat-card-subtitle>2017</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-button color="primary">NOT AVAILABLE</button> -->
  </mat-card-actions>
</mat-card>
<!-- <mat-card class="card">
    <div class = "card-image orbital"></div>
    <mat-card-header [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
      <mat-card-title>Orbital Defense</mat-card-title>
      <mat-card-subtitle>TBD</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button color="primary">NOT AVAILABLE</button>
    </mat-card-actions>
  </mat-card> -->

  <mat-card class="card">
    <div class = "card-image spaceship"></div>
    <mat-card-header [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
      <mat-card-title>Untitled</mat-card-title>
      <mat-card-subtitle>2016</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <!-- <button mat-button color="primary">NOT AVAILABLE</button> -->
    </mat-card-actions>
  </mat-card>

