<app-banner [isTitleCenter] = "false" title = "STOVETOP STUDIOS" image = "/assets/images/stovetop_banner.jpg"></app-banner>

<app-section-head tag = "WORKING ON" id = "current"></app-section-head>
<div id = "current-work">
  <app-game-card [isDemo] = "true"></app-game-card>
</div>

<app-section-head tag = "PAST WORK" id = "games"></app-section-head>
<div id = "past-games">
  <app-past-games></app-past-games>
</div>

<app-section-head tag = "ABOUT" id = "about"></app-section-head>
<div id = "devs">
  <app-about></app-about>
  <app-dev-card name = "Frank Han" role = "Primary Programmer"></app-dev-card>
  <app-dev-card name = "Jeff Zhu" role = "Primary Technical Artist"></app-dev-card>
</div>

<app-section-head tag = "contact" id = "contact"></app-section-head>
<div id = "contact-card"><mat-card >contact@stovetop.io </mat-card></div> 





