<div id = "banner" [className]="isTitleCenter ? 'center' : ''">

    <mat-toolbar id = "toolbar">
      <button id = "logo" (click)="scroll('')" mat-button>stovetop</button>
      <span class = "spacer"></span>
      <button (click)="scroll('current')" mat-button>Current Work</button>
      <button (click)="scroll('about')" mat-button>About</button>
      <button (click)="scroll('games')" mat-button>Games</button>
      <button (click)="scroll('contact')" mat-button>Contact</button>
    </mat-toolbar>
    <div id = "banner-image"></div>
    <div id = "shadow"></div>
    <div id = "banner-caption" [className]="isTitleCenter ? 'banner-caption-center' : 'banner-caption-bottom'">
      {{title}}
    </div>
  </div>