<mat-card  class="game-card">
    <img mat-card-image src="/assets/images/snakeybus_screen3.png">
    <div  class = "game-info">
        <div [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
        <!-- <div [@fadeIn]="isShow ? 'show' : ''"> -->
        <mat-card-title>SnakeyBus</mat-card-title>
        <mat-card-subtitle>Release Q4 2018</mat-card-subtitle>
        <mat-card-content>
            <p >
              The length of your bus grows as you pick up more people! Snake thorugh the city streets and avoid crashing into yourself.
            </p>
        </mat-card-content>
      </div>
        <div class = "game-actions">
          <a href = "/snakeybus">
          <button mat-flat-button color="primary">READ MORE</button>
        </a>
        <a href = "/snakeybus#play-test" #featured>
          <button *ngIf="isDemo" mat-flat-button color="primary">PLAY TEST</button>
        </a>
        </div>

    </div>
    
  </mat-card>