<mat-card  class="game-card">
  <div id = "image">
  </div>
    <div  class = "game-info">
        <div [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
        <!-- <div [@fadeIn]="isShow ? 'show' : ''"> -->
        <mat-card-title>SnakeyBus</mat-card-title>
        <mat-card-subtitle>Release Q1 2019</mat-card-subtitle>
        <mat-card-content>
            <p >
              The length of your bus grows as you pick up more people! Snake thorugh the city streets and avoid crashing into yourself.
            </p>
            <a href = "/snakeybus">
              <button mat-raised-button color="primary">READ MORE</button>
              </a>
        </mat-card-content>
      </div>
        <div class = "game-actions">
          
          <a href = "/snakeybus#play-test" #featured>
            <!-- <button *ngIf="isDemo" mat-raised-button color="primary">PLAY TEST</button> -->
          </a>
        </div>

    </div>
    
  </mat-card>