<app-banner [isTitleCenter] = "true" title = "Snakeybus" image = "/assets/images/snakeybus_screen.png"></app-banner>
<app-section-head tag = "WORK IN PROGRESS"></app-section-head>
<div class = "container">
    <mat-card id = "play-test" >
        <div class = "left" [@fadeIn]="isShow ? 'show' : ''" [@moveUp]="isShow ? 'show' : ''">
            <h2>Snakeybus</h2>
            Snakeybus is an arcade game that requires a balance between reflexes and forethought. Weave through the city streets and pick up as many passengers as you can. Drop your passengers at their destinations to cash in. The more people you drop off, the more your bus grows in length. Play smart and avoid crashing into yourself! 
        </div>
        <div class = "right">
            <h2>CLOSED BETA</h2>
            <p>
                To follow the dev-progress, chat with the community or test the game: Join us on <a href = "https://discord.gg/Xu4g8kd">discord</a>! 
            </p>
            <a href = "https://discord.gg/Xu4g8kd">
                <div id = "discord"></div>
            </a>
        </div>
    </mat-card>
</div>
<app-section-head tag = "SCREENSHOTS"></app-section-head>
<div class = "container">
    <app-gallery [basePath] = "imageBasePath" [images] = "images"></app-gallery>
</div>
