/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    background-color: #efefef;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 0 0 50px 0;
}