<!-- 
<div id = "banner">

  <mat-toolbar id = "toolbar">
    <span>stovetop</span>
    <span class = "spacer"></span>
    <button mat-button>Current Work</button>
    <button mat-button>About</button>
    <button mat-button>Games</button>
    <button mat-button>Contact</button>
  </mat-toolbar>
  <div id = "banner-image"></div>
  <div id = "shadow"></div>
  <div id = "banner-caption">
    <div></div>
    Stovetop Studios
  </div>
</div>

<div class = "section-title">
  <mat-divider></mat-divider>
  <div class = "section-tag">WORKING ON</div>
  <div id = "current-work">
      <app-game-card [isDemo] = "true"></app-game-card>
    </div>
</div>

<div class = "section-title">
  <mat-divider></mat-divider>
  <div class = "section-tag">GAMES</div>
  <div id = "past-games">
    <app-past-games></app-past-games>
  </div>
</div>

<div class = "section-title">
    <mat-divider></mat-divider>
    <div class = "section-tag">ABOUT</div>
    <app-about></app-about>
    <div id = "devs">
        <app-dev-card name = "Frank Han" role = "Primary Programmer"></app-dev-card>
        <app-dev-card name = "Jeff Zhu" role = "Primary Technical Artist"></app-dev-card>
    </div>
</div> -->


<router-outlet></router-outlet>


